.dummycallendar {
  left: 482px;
  position: relative;
  top: -39px;
  width: 100px;
  height: 20px;
  font-size: 15px;
  color: #c4c9cb;
}

.dummytimestamp {
  position: relative;
  left: 90px;
  top: -15px;
  width: 50px;
  height: 20px;
}
.timeprag {
  position: absolute;
  top: -5px;
  left: -39px;
  width: 150px;
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  color: #c4c9cb;
}
